body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../src/assets/Bg-Pic.jpg");
    background-size: cover;
    background-position: center;
}

.responsive-paper {
    padding: 20px;
    margin: auto;
    width: 600px;
}

@media (max-width: 768px) {
    .responsive-paper {
        padding: 10px;
        width: 300px;
    }
}

button {
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.post {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fafafa;
}

.post h3 {
    margin: 0 0 10px;
}

.post p {
    margin: 0;
}


